{% extends "base.html" %}
{% load static %}
{% block content %}
<script>
    $(document).ready(function(){
        $("#dash1").removeClass("active")
        $("#dash2").removeClass("active")
        $("#dash3").addClass("active")
    })
</script>
<div class="col py-1 px-0 mx-3" style="height: 550px;">
    <div class="w-100 h-50 p-3 overflow-auto" >
        <div class="row">
            <div class="row card border m-2 rounded col-3">
                <div class="col-12 rounded card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See profile</a>
                </div>
            </div>
            <div class="row card border m-2 rounded col-3">
                <div class="col-12 rounded card-body">
                    <h4 class="card-title">Usuarios en sistema</h4>
                    <p class="card-text">El total de usuarios en el sistema es: {{users}}.</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
            <div class="row card border m-2 rounded col-3">
                <div class="col-12 rounded card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See profile</a>
                </div>
            </div>

        </div>
        
    </div>
    <div class="w-100 h-50 p-3 overflow-auto">
        <table class="table table-hover">
            <thead class="table-dark position-sticky">
                <tr>
                    <th>#</th>
                    <th>Evento</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Alta usuario</td>
                    <td>19-01-2024</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Alta usuario</td>
                    <td>19-01-2024</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Alta usuario</td>
                    <td>19-01-2024</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Alta usuario</td>
                    <td>19-01-2024</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Alta usuario</td>
                    <td>19-01-2024</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Alta usuario</td>
                    <td>19-01-2024</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Alta usuario</td>
                    <td>19-01-2024</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Alta usuario</td>
                    <td>19-01-2024</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}